<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>	
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Platform;SupportFiles;SalesLogix"/>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <clear/>
    <!--<add name="Default" connectionString="Provider=SLXOLEDB.1;Password=&quot;&quot;;Persist Security Info=True;User ID=admin;Initial Catalog=YourDBHere;Data Source=localhost;Extended Properties=&quot;PORT=1706;LOG=ON;CASEINSENSITIVEFIND=ON;AUTOINCBATCHSIZE=1;&quot;" />-->
  </connectionStrings>

  <appSettings>
    <add key="NativeConStringTemplate" value="Provider=SQLNCLI10.1;Data Source={0};Initial Catalog={1};Persist Security Info=True;User ID={2};Password={3}"/>
    <add key="ReleaseRepositoryPath" value="C:\Work\SLXOfficialReleases"/>
  </appSettings>

	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%m%n" />
			</layout>
		</appender>

		<logger name="Sage.Platform.Upgrade.ProjectUpgradeService">
			<level value="ALL" />
			<appender-ref ref="ConsoleAppender"/>
		</logger>
	</log4net>	
</configuration>
